#add-movie-form {
    width: 70%;
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-gap: 15px;
    gap: 15px;
}

.add-movie-container {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-gap: 15px;
    gap: 15px;
}