header {
    background: #35424a;
    color: #fff;
    padding: 20px;
    min-height: 30px;
    border-bottom: #e8491d 3px solid;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

header h1 {
    margin: 0;
    font-size: 1.3em;
    float: left;
}

#pick-movie-button {
    float: right;
}

button {
    padding: 7px 13px;
    background-color: #b12121;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 1px solid #b12121;
    font-weight: bold;
}

button:hover {
    background-color: rgb(0, 255, 115);
    color: #b12121;
    cursor: pointer;
}